<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>20297865036-4pnrte49ha6sjqh8v25i8j9nfqls7803.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.20297865036-4pnrte49ha6sjqh8v25i8j9nfqls7803</string>
	<key>API_KEY</key>
	<string>AIzaSyAh0ZruOpCWj5FkgKVbKr4uRxIGIFDMPiY</string>
	<key>GCM_SENDER_ID</key>
	<string>20297865036</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.GrupoZonica.LaRZ</string>
	<key>PROJECT_ID</key>
	<string>la-rz-5b5e1</string>
	<key>STORAGE_BUCKET</key>
	<string>la-rz-5b5e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:20297865036:ios:69095bed2dd7f5d8</string>
	<key>DATABASE_URL</key>
	<string>https://la-rz-5b5e1.firebaseio.com</string>
</dict>
</plist>
