<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="xamarinios10" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="xamarinios10" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="xamarinios10" />
  <package id="Xamarin.Build.Download" version="0.7.1" targetFramework="xamarinios10" />
  <package id="Xamarin.Firebase.iOS.Analytics" version="6.0.4" targetFramework="xamarinios10" />
  <package id="Xamarin.Firebase.iOS.Core" version="6.1.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Firebase.iOS.InstanceID" version="4.2.1" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="4.4.0.991265" targetFramework="xamarinios10" />
</packages>